.wrapper {
  flex-basis: 16.6666%;
  max-width: 16.6666%;
  padding: 0 15px 45px 15px;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;

  @media (max-width: 815px) {
    flex-basis: 25%;
    max-width: 25%;
  }

  @media (max-width: 550px) {
    flex-basis: 50%;
    max-width: 50%;
  }
}
