.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 62px;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: -0.35px;
  border-radius: 25px;
  background-color: #00acff;
  color: #fff;
  text-decoration: none;
  padding: 6px 21px;
  align-items: center;
  display: flex;
}
