.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 100px;
  margin-bottom: 10px;
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.35px;
  text-align: center;
  color: #000;
}

.subtitle {
  font-size: 12px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: center;
  color: #636363;
}
