.moreDetails {
  display: flex;
}

.text {
  font-size: 16px;
  letter-spacing: -0.4px;
  color: #fff;
  line-height: normal;

  &SingleMovie {
    letter-spacing: -0.35px;
    font-size: 14px;
  }

  &Bold {
    font-weight: bold;
  }
}

.textWrapper {
  padding-bottom: 20px;
}

.rating {
  margin-left: 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.ratingIcon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.title {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.8px;
  color: #fff;
  margin: 15px 0;

  &SingleMovie {
    letter-spacing: -1.2px;
    font-size: 48px;
  }
}
