.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 40px 0;
  background-color: #fff;
  border-top: 1px solid #ebebeb;
}

.copyright {
  font-size: 12px;
  letter-spacing: -0.3px;
  color: #636363;
  margin-top: 22px;
}
