.wrapper {
  display: flex;
  align-items: center;

  svg {
    width: 100%;
  }
}

.logo {
  display: none;

  @media (min-width: 970px) {
    display: block;
  }
}

.logoSmall {
  display: block;

  @media (min-width: 970px) {
    display: none;
  }
}
