.text {
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #636363;

  & .icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
  }
}

.textSmall {
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.3px;
  color: #636363;
}

.rating {
  margin-bottom: 10px;
}

.review {
  margin-bottom: 10px;
}
