.text {
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  color: #636363;
  padding-bottom: 40px;

  .icon {
    display: inline-block;
    vertical-align: middle;
  }
}
